﻿@{
    ViewBag.Title = "Student";
}
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 align-self-center">
        <form action="/Student/Save" method="post" enctype="multipart/form-data" style=" display: flex; flex-direction: column; align-items: center;">
            <h2>Lưu, đọc sinh viên</h2>
            <div class="form-group">
                <label for="fromEmail">Mã học viên:</label>
                <input name="id" required type="text" class="form-control" id="fromEmail">
            </div>
            <div class="form-group">
                <label for="name">Họ tên:</label>
                <input name="name" required type="text" class="form-control" id="toEmail">
            </div>
            <div class="form-group">
                <label for="subject">Ngày sinh:</label>
                <input name="dob" required type="text" class="form-control" id="subject">
            </div> <div class="form-group">
                <label>Giới tính:</label>

                <div class="radio">
                    <label><input type="radio" name="gender" value="male" checked>Nam</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="gender" value="female">Nữ</label>
                </div>

            </div>
            <div class="form-group">
                <label for="attachment">Hình:</label>
                <input name="file" required type="file" class="form-control" id="attachment">
            </div>
            <div class="form-group">
                <label for="toEmail">Học phí:</label>
                <input name="fee" required type="number" class="form-control" id="toEmail">
            </div>
            <div class="form-group">
                <label for="notes">Ghi chú:</label>
                <textarea name="notes" class="form-control" id="notes" rows="3"></textarea>
            </div>
            <div>
                <a href="/student/show" class="btn btn-outline-primary">Xem</a>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    <div class="col-sm-3"></div>
</div>
