﻿@model Models.StudentInfo
@{
    ViewBag.Title = "Student Show";
}
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 align-self-center">
        <form action="/Student/Save" method="post" enctype="multipart/form-data" style=" display: flex; flex-direction: column; align-items: center;">
            <h2>Lưu, đọc sinh viên</h2>
            <div class="form-group">
                <label for="fromEmail">Mã học viên:</label>
                <input name="id" required type="text" class="form-control" value="@Model.Id" id="fromEmail">
            </div>
            <div class="form-group">
                <label for="name">Họ tên:</label>
                <input name="name" required type="text" class="form-control" value="@Model.Name"  id="toEmail">
            </div>
            <div class="form-group">
                <label for="subject">Ngày sinh:</label>
                <input name="dob" required type="text" class="form-control" value="@Model.DOB"  id="subject">
            </div> <div class="form-group">
                <label>Giới tính:</label>

                <div class="radio">
                    <label><input type="radio" name="gender" value="male" checked>Nam</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="gender" value="female">Nữ</label>
                </div>

            </div>
            <div class="form-group">
                <img src="@Model.Img" alt="st" style="max-height:100px; max-height:100px" />
            </div>
            <div class="form-group">
                <label for="toEmail">Học phí:</label>
                <input name="fee" required type="number" class="form-control"  value="@Model.Fee"  id="toEmail">
            </div>
            <div class="form-group">
                <label for="notes">Ghi chú:</label>
                <textarea name="notes" class="form-control" id="notes" rows="3">@Model.Notes</textarea>
            </div>
            <div>
                <a href="/student/show" class="btn btn-outline-primary">Xem</a>
                <a href="/student" class="btn btn-primary">From Thêm</a>
            </div>
        </form>
    </div>
    <div class="col-sm-3"></div>
</div>
