﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="margin:200px 0">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 align-self-center">
        <div class="col-sm-6">
            <a href="/Mail" class="btn btn-block btn-danger">
                Bài 1: Send mail
            </a>
        </div>
        <div class="col-sm-6">
            <a href="/Student" class="btn btn-block btn-success">
                Bài 2: Lưu đọc sinh viên
            </a>
        </div>
    </div>
</div>

